.geralProjetos {
    display: flex;
    flex-direction: column;
}

.btnNovoProjeto {
    width: 150px;
}

.fs-1 {
    display: inline-block; /* Permite ajustar a largura e adicionar padding */
    width: 40%
}