.geralTipoTarefas {
    display: flex;
    flex-direction: column;
  }
  
  .btnNovoTipoTarefa {
    width: 180px;
  }
  
  .fs-1 {
    display: inline-block; /* Permite ajustar a largura e adicionar padding */
    width: 40%;
  }
  