.geralTarefa {
    display: flex;
    flex-direction: column;
}

.btnNovoTarefa {
    width: 150px;
}

.fs-1 {
    display: inline-block; /* Permite ajustar a largura e adicionar padding */
    width: 40%
}

.tiposTarefasBtn {
    margin-left: 20px;
}