/* Estilo base da tag <a> */
.geralListDepartamentos {
    text-decoration: none; /* Remove o sublinhado */
    transition: background-color 0.3s ease, padding 0.3s ease; /* Adiciona transição suave para a cor de fundo e padding */
    margin-bottom: 20px;
}
  
/* Estilo ao passar o mouse */
.geralListDepartamentos:hover {
    background-color: rgb(255, 255, 255); /* Cor de fundo escurecida (ajuste conforme necessário) */
    padding: 8px 16px; /* Ajuste o padding conforme necessário */
}
